
body {
}

form{
  margin-top: 10%;
  font-family: calibri,Serif ;
}

label{
  font-weight: bold;
}

td{
  padding: 10px;
}

thead{
  font-size: 50px;
}

th{
  padding-bottom: 30px;
}

tbody{
  font-size: 20px;

}
